.carousel-inner img {
    height: 500px;
    object-fit: cover;

}


.carousel img {
    max-width: 20%; /* L'immagine si adatta al contenitore */
    height: auto; /* Mantiene le proporzioni */
    border-radius: 10px; /* Bordo arrotondato per le immagini */
  }

